<!DOCTYPE html>
<html>
<head>
  <title>Cutlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name='google_maps' content='AIzaSyBml7xD2HvlDxNfx50EWgczYqnaV9c2u6M' />  

  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
